/* CSS RESET (NORMALIZE) */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
body{
margin:0;
padding:0;
height:100%;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: Roboto, sans-serif;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

label {
  color:#777;
}

button,
input,
select,
textarea {
  font-size: 0.875em;
  margin: 0;
  padding:3px 0 0 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

input[type="text"]{
background-color:#fff;
border:1px solid #999;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width:205px;
}

.region-header input[type="text"]{
border:none;
}

button,
input {
  line-height: normal;
  /* 1 */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
  background-color:#bbb;
  color:#2A3744;
  padding:3px 6px 1px 6px;
  border:none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size:0.875em;
  line-height:1.2em;
}


td{
padding:.75em;
vertical-align:top;
}

th{
vertical-align:bottom;
padding:.75em;
}

tr.even, tr.odd {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}

tr.even {
background-color: #fff;
}

tr.odd {
background-color: #EEEEEE;
}


/* BASE STYLES */
/* COMMON ELEMENTS */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.3em;
}


body {
  font-family: Roboto, serif;
  color: #888;
  font-weight: 200;
  background: #fff;
}

::-moz-selection {
  color: white;
  background: #ce7676;
  text-shadow: none;
}

::selection {
  color: white;
  background: #ce7676;
  text-shadow: none;
}

/* LINKS */
a {
  color: #777;
}
a:vid {
  color: #777;
}
a:focus {
  color: #D95B43;
}
a:hover {
  color: #D95B43;
}
a:active {
  color: #D95B43;
}


p {
  margin-bottom: 1.5em;
}

pre {
  line-height: 1;
}

menu, ol, ul {
  padding-left: 0;
}

dl {
  margin-left: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li{
  margin: 0 0 0.25em 1.5em;
  padding: 0;
}

li ul {
  list-style-type: circle;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-rendering: optimizeLegibility;
  clear:both;
}

h1 {
  color:#D95B43;
  font-size: 2em;
  line-height: 1.1em;
}

h2 {
  color:#C02942;
  font-size: 1.4375em;
  line-height: 1.23077em;
}

h3 {
  color:#542437;
  font-size: 1.250em;
  line-height: 1.3913em;
  margin-bottom: 0;
}

h4 {
  color:#53777A;
  font-size: 1.125em;
  line-height: 1.26316em;
}

h5 {
  color:#777;
  font-size: 1.0em;
  line-height: 1.26316em;
}

h6 {
  color:#999;
  font-size: 1em;
  line-height: 1.26316em;
}

/* Fonts */
pre {
  font-family: Consolas, Menlo, "Courier New", monospace, monospace;
}

h1 {
  font-family: NexaSlab-xBold, sans-serif;
  
}

h2, h3, h4, h5, h6 {
  font-family: NexaSlab-Bold, sans-serif;
  
}


/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
  vertical-align: text-bottom;
}


/* SKIP LINK */
.invisible {
  height: 0;
  overflow: hidden;
  margin:0;
}


/* =============================================================================
   Layout
   ========================================================================== */
   
p#skip-link{
margin: 0;
}


#main,
#footer{
padding-left: 1.5em;
padding-right: 1.5em;
}

header,
#main-section,
#footer-section{
clear:both;
display:block;
width:100%;
}


.region-header{
clear:none;
float:left;
margin-top:0;
padding:0 0 1em 1.5em;
}

#header,
#main-container,
#footer{
width: 100%;
display:block;
}

#header{
background-color: #00bbdd;
}


#main,
aside{
height:auto !important; /* real browsers */
height:100%; /* IE6: treaded as min-height*/
min-height:100%; /* real browsers */
}


.views-row{
padding-bottom:2em;
}

#block-menu-block-2{
display:none;
}

#block-menu-block-3{
display:block;
}

#logo{
display: block;
text-align: center;

}

#navigation{
display:block;
clear:both;

}

#navigation ul.menu li a{
display:block;
clear:both;
width:100%;
height:4em;
padding:1.25em 0 0 0;
text-align:center;
font-size:1.25em;
}

#navigation ul.menu li.expanded a{
height:3.25em;
}

#navigation ul.menu li ul.menu li a{
text-transform:capitalize;
color: #8ABACE;
height:2em;
padding:0;
}


#navigation ul.menu li{
border-bottom:1px solid #000;
border-top:none;
}


#navigation ul.menu li ul.menu li{
border-bottom:none;
border-top:none;
}

#touch-menu-btn.close ~ #navigation{
  /*
    USE THE SIBLING SELECTOR
    TO SHOW/HIDE NAVIGATION
  */
  display: block !important;
}


#touch-menu-btn {
clear:both;
background: url(../images/menu.png) no-repeat scroll 0 0 transparent;
color: #FFFFFF;
padding: .25em 0 .25em 2.500em;
line-height:1.75em;
color:#8ABACE;
}

#content{
padding-bottom:2em;
height:auto !important; /* real browsers */
height:100%; /* IE6: treaded as min-height*/
min-height:100%; /* real browsers */
}

ul.menu{
list-style:none;
padding:0;
margin:0;
}

ul.menu li{
padding:0;
margin:0;
}

.sidebar_first{
display:none;
padding:1em 0;
}

.panel-2col-stacked .panel-panel{
clear:both;
width:100%;
}

.panel-col-top{
padding:1.5em 0 0 0;
}

#footer{
border-top:1px solid #ccc;
background-color:#fff;
display:block;
clear:both;
padding:1em;
}

.sidebar_second{
clear:both;
}

.book-navigation .page-links {
border-bottom: none;
border-top: 1px solid #e5e5e5;
padding: 0;
}


.footer-logo a {
background: url("../images/pu-logo.png") no-repeat scroll right top transparent;
color: #FFFFFF;
display: block;
font-size: 0;
height: 18px;
text-indent: -9999px;
width: 254px;
}

.footer-copyright{
clear:both;
padding:1em 0 0 0;
}



/* =============================================================================
   Typography
   ========================================================================== */

h1#-name a{
color:#fff;
text-decoration:none;
}

#navigation ul.menu li a,
#navigation-wide ul.menu li a{
font-family: Muli, sans-serif;
color:#fff;
text-transform:uppercase;
font-size:0.813em;
text-decoration: none;
}

#navigation-wide ul.menu li a.active,
#navigation-wide ul.menu li a.active-trail,
#navigation ul.menu li a.active,
#navigation ul.menu li ul.menu li a.active{
color:#fff;
}

.sidebar_first ul.menu li a{
font-family: Varela, sans-serif;
font-size:0.875em;
display:block;
padding:.75em 1.5em;
}

.sidebar_first ul.menu li ul.menu li a{
padding:.5em 1.5em 0.5em 2.5em;
}

.sidebar_first ul.menu li ul.menu li ul.menu li a{
padding:.25em 1.5em 0.25em 3.5em;
}

.sidebar_first ul.menu li a.active,
.sidebar_first ul.menu li.leaf.active-trail a.active{
color:#fff;
background-color:#9ca4ac;
-webkit-border-top-left-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-bottomleft: 6px;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
}

.sidebar_first ul.menu li.expanded.active-trail a.active{
-webkit-border-top-left-radius: 6px;
-moz-border-radius-topleft: 6px;
border-top-left-radius: 6px;
-webkit-border-bottom-left-radius: 0;
-moz-border-radius-bottomleft: 0;
border-bottom-left-radius: 0;
}

.sidebar_first ul.menu li.leaf a.active,
.sidebar_first ul.menu li ul.menu li.leaf a.active,
.sidebar_first ul.menu li ul.menu li.last.expanded.active-trail a.active{
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.sidebar_first ul.menu li ul.menu li.last.leaf.active-trail a.active{
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-left-radius: 6px;
}

.sidebar_first ul.menu li ul.menu li a{
font-size:0.813em;
}

.sidebar_first ul.menu li{
line-height:1em;
}

.sidebar_first ul.menu li ul.menu li ul.menu li{
line-height:.875em;
}

.sidebar_first ul.menu li ul.menu li ul.menu li a{
font-size:.75em;
}

.sidebar_first ul.menu li.expanded ul.menu li.last a,
.sidebar_first ul.menu li.expanded ul.menu li.expanded ul.menu li.last a{
padding-bottom:.5em;
}

ul.menu li a{
text-decoration:none;
}

.sidebar_second #block-views-training-sessions-block h3{
margin-top:0;
line-height:1.2em;
}

h1#-name a{
color:#fff;
text-decoration:none;
}

h1#-name a:hover{
color:#1B242E;
}

h3 > a{
text-decoration:none;
}

#footer_first,
#footer_last{
font-size:0.875em;
color:#888;
line-height:1.25em;
}

article header{
font-style:italic;
color:#999;
font-size:.875em;
}

.date-display-single{
font-style:italic;
color:#999;
font-size:1.063em;
}

.sidebar_second .date-display-single{
font-size:1em;
}

.date-start-end{
display:block;
}

.field-name-field-location{
color:#6C7A89;
}


@media all and (min-width: 50em) {
    /* Styles apply only to screens with a width greater than 50em (800px) */
    
#branding-container,
#main,
#footer{
margin-left: auto;
margin-right: auto;
max-width:60em;
}

#branding-container{
display: block;
height: 12em;
padding: 2em 0;
}

.region-header{
padding:1em 0 1em 1.5em;
}

header#header-section{
height:8.125em;
}

footer#footer-section{
height:12.00em;
}

#footer,
#main,
#navigation{
overflow:auto;
}

#content{
overflow:auto;
}

.sidebar-first #main{
padding-left:0;
}

.sidebar-second #main{
padding-right:0;
}

.panel-2col-stacked .panel-col-first{
clear:none;
float:left;
width:50%;
padding:0 1em 0 0;
}

.panel-2col-stacked .panel-col-last{
clear:none;
float:left;
width:50%;
padding:0 0 0 1em;
}

.one-sidebar.sidebar-first #content{
float:left;
width:75%;
padding-left:2.222222222%;
}

.one-sidebar.sidebar-second #content{
float:left;
width:75%;
padding-right:2.222222222%;
}

.two-sidebars #content{
float:left;
width: 50%;
padding:0 2.222222222%;
}


.sidebar_first ul.menu ul.menu{
border:none;
}

/*.sidebar_first ul.menu li{
border-bottom:1px dotted #ccc;
}*/

.sidebar_first ul.menu li ul.menu li{
border:none;
}

.sidebar_first ul.menu li.expanded{
background-color:#eee;
-webkit-border-top-left-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-bottomleft: 6px;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
}

.sidebar_first{
display:block;
float:left;
width:25%;
padding:2.222222222% 0 2.222222222% 2.222222222%;
/*background-color:#e8e8e8;*/
border-right:1px dotted #ccc;
}

.sidebar_second{
clear:none;
display:block;
float:left;
width:25%;
padding:0 2.222222222%;
}

img{
float:left;
margin:0 0.625em 0.625em 0;
}

#navigation-wide{
display:block;
clear:both;
width: 100%;
height: 3em;
background-color: #000;
}

#navigation-wide .region{
display: block;
width: 60em;
margin: 0 auto;
}

#navigation-wide ul.menu li{
display:block;
clear:none;
float:left;
width:20%;
overflow:auto;
}

#navigation-wide ul.menu li a{
display:block;
width:100%;
height:auto;
padding:1em 0;
text-align:center;
}

#navigation-wide ul.menu li a:hover{
color:#fff;
}

.book-navigation a:hover{
color:#D95B43;
}

/* HIDE TOUCH NAVIGATION ON WIDE SCREENS */
  #touch-menu-btn {
    display: none !important;
  }

  #navigation{
    display: none !important;
  }

  #header {
    margin-bottom: 0 !important;
  }

  #navigation-wide{
    display: block !important;
  }
  
  #block-menu-block-2{
  display:block;
  }

  #block-menu-block-3{
  display:none;
  }

.region-header{
clear:none;
float:right;
margin-top:1.75em;
padding:0 1.5em 0 0;
}

#footer_first{
float:left;
width:50%;
}

#footer_last{
clear:none;
float:right;
text-align:right;
width:50%;
}

.footer-logo a {
float:right;
}
    
}